.page-wrapper{
    display: flex;
    height: 100%;
}

.page-sider{
    flex: none;
}

.page-sider .sider-menu .g-color{
    color:#1890FF;
}
.page-sider .g-color .icon-xiangxiajiantou1{
    transform: rotate(180deg);
}
.page-sider .sider-menu .g-select{
    color:#1890FF;
    background-color: #E6F7FF;
    border-right: 3px solid #1890FF;
}

.page-mainer{
    display: flex;
    flex-direction: column;
    padding-top: 48px;
    flex: 1;
    height: 100%;
    overflow: hidden; 
}

.mainer-header-section{
    padding: 16px 24px 16px 24px;
    background: #FFFFFF;
}

.mainer-header-nav{
    display: flex;
    height: 22px;
    align-items: center;

    .nav-item{
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        color: #00000073;
        cursor: pointer;
        transition: color 0.3s;
    }
    .nav-item:hover{
        color: #000000D9;
    }
    .nav-item-padding{
        padding: 0 8px;
    }
    .nav-item-now{
        color: #000000D9;
    }
}

.mainer-header-heading{
    margin-top: 8px;
    height: 44px;
    padding: 8px 0;

    .heading-txt{
        height: 28px;
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        color: #000000D9;
    }
}
.mainer-header-content{
    margin-top: 8px;
    font-size: 13px;
    line-height: 17px;
    height: 17px;
}

.mainer-content-section{
    background-color: #F0F2F5;
    overflow-y: auto;
    padding: 24px;
    padding-bottom: 0;
    flex: 1;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

.mainer-content-section::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}
.mainer-content-section::-webkit-scrollbar-thumb{
    background: rgba(0,0,0,.12);
    border-radius: 3px;
    box-shadow: inset 0 0 5px rgba(0,21,41,.05);
}
.card-box{
    padding: 24px;
    background: #fff;
    border-radius: 2px;
    color: rgba(0,0,0,.85);
    border: 1px solid #0000000F;
}


.card-title-wrapper{
    display: flex;
    justify-content: space-between;
}
.title-item{
    position: relative;
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
    text-align: right;
}
.search-box, .search-container{
    display: flex;
    flex: 1;
}
.search-container:nth-child(2){
    margin-left: 24px;
}
.search-lable{
    font-size: 14px;
    white-space: nowrap;
    line-height: 32px;
    margin-right: 8px;
    cursor: default;
}
.search-container:nth-child(2) .search-lable{
    width: 120px;
    text-align: right;
}

.search-input{
    height: 32px;
    width: 100%;
    flex: 1;
    padding: 5px 12px 5px 12px;
    border-radius: 2px;
    border: 1px solid #D9D9D9;
}
.search-input::placeholder{
    font-size: 14px;
    color: #00000040;
}
.search-input:hover{
    border-color: #40a9ff;
}



.operat-box{
    margin-left: 104px;
    display: flex;
    align-items: center;
}
.operat-reset, .operat-query{
    height: 32px;
    text-align: center;
    line-height: 32px;
    padding: 0 15px ;
    border-radius: 2px;
    border: 1px solid #D9D9D9;
    color: #000000D9;
    font-size: 14px;
    cursor: pointer;
}
.operat-query{
    margin-left: 8px;
    color: #FFFFFF;
    background-color: #1890FF;
    border-color: #1890FF;
}
.operat-txt{
    margin-left: 16px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    color: #1890FF;
    transition: all .3s;
    cursor: pointer;
    
    .iconfont{
        font-size: 12px;
    }
}
.operat-txt:hover{
    color: #40a9ff;
}
.operat-reset:hover{
    color: #1890FF;
    border-color: #1890FF;

}
.operat-query:hover{
    background-color: #40a9ff;
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    height: 64px;
}
.card-header-title{
    font-size: 16px;
    font-weight: 600;
}
.card-header-right{
    display: flex;
}
.chr-fliter{
    font-size: 14px;
    line-height: 32px;

    .iconfont{
        font-size: 12px;
        color: #00000073;
    }
}
.chr-btn, .chr-icon{
    display: flex;
    align-items: center;
    margin-left: 16px;
}
.white-btn, .blue-btn{
    height: 32px;
    text-align: center;
    line-height: 32px;
    padding: 0 15px ;
    border-radius: 2px;
    border: 1px solid #D9D9D9;
    color: #000000D9;
    font-size: 14px;
    cursor: pointer;
}
.blue-btn{
    margin-left: 8px;
    color: #FFFFFF;
    background-color: #1890FF;
    border-color: #1890FF;
}
.white-btn:hover{
    color: #1890FF;
    border-color: #1890FF;

}
.blue-btn:hover{
    background-color: #40a9ff;
}

.chr-icon{
    gap: 12px;

    .iconfont{
        color: #000000D9;
        cursor: pointer;
    }
    .iconfont:hover{
        color: #1890FF;
    }
}

.card-list{
    overflow: hidden;
}

.card-item{
    display: flex;
    align-items: center;
    height: 55px;
    border-bottom: 1px solid #0000000F;
}
.list-header{
    background-color: #FAFAFA;

    .item-part{
        font-weight: 600;
    }
}
.checkbox-part{
    width: 16px;
    height: 16px;
    margin: 0 8px;
    border-radius: 2px;
    border: 1px solid #D9D9D9;
    cursor: pointer;
}
.item-part{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    font-size: 14px;
    color: #000000D9;

    .icon-shangxiazhankai{
        color: #00000073;
    }
}
.list-header .item-part::before{
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 1.6em;
    background-color: rgba(0,0,0,.06);
    transform: translateY(-50%);
}
.list-header .item-part:last-child::before{
    display: none;
}
.card-item .g-blue{
    color: #1890FF;
}
.item-part-status{
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.pagination{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    height: 64px;
}
.page-title{
    font-size: 14px;
}
.page-box{
    display: flex;
    gap: 8px;
}

.page-num{
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #D9D9D9;
    cursor: pointer;

    .iconfont{
        font-size: 14px;
    }
}
.page-icon{
    border: none;
    .iconfont{
        color: #00000073;
    }
}
.num-now{
    border-color: #1890FF;
    color: #1890FF;
}
.page-total{
    padding: 0 12px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    border: 1px solid #D9D9D9;
    cursor: pointer;

    .iconfont{
        font-size: 14px;
        color: #00000073;
    }
}
.page-total:hover, .page-num:hover, .checkbox-part:hover{
    border-color: #1890FF;
}









.footer-box{
    padding: 48px 16px 24px 16px;
    text-align: center;
}
.footer-link{
    margin-bottom: 8px;
}
.footer-link a:not(:last-child){
    margin-right: 40px;
}
.footer-link a{
    color: rgba(0,0,0,.45);
    transition: all .3s;
}
.footer-link a:hover{
    color: rgba(0,0,0,.85);
}
.footer-right{
    color: rgba(0,0,0,.45);
    font-size: 14px;
}